<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrievanceForum</title>

    <link rel="manifest" href="app.webmanifest" />
    <link rel="icon" href="images/grievanceforum.ico" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/08c3f952c9.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link href="css/style.css" rel="stylesheet"/>

    <style>
    </style>
    <script>
        let isdesktop = 0;
    </script>
</head>
<body>

<script>
    if(localStorage.darkmode == 'true'){
        document.body.classList.toggle('dark-theme');
    }else{
        localStorage.setItem('darkmode',false);
    }
</script>

<!--
    No View Panel
-->
<div class="noview w-75">
    <p>
        <i class="fa-solid fa-xmark"></i> Can't Be Viewed
    </p>
    <hr>
    <p class="text-muted">
        Increase Your Resolution<br>To View The App!
    </p>
</div>

<!--
    Desktop Panel
-->
<div class="container-fluid desktop">
    <!-- Include Top Nav Bar -->
    <%- include('partials/desktopNavbar.ejs') %>
    <br>



    <div class="row justify-content-center">
        <div class="col-6 " style="height:100vh">
            <%if(userInfo.anonymous == 1){%><div style="filter:blur(8px);"><%}%>
            <!-- Search Bar + Filter Search -->
            <div class="card">
                <div class="card-body" style="overflow:hidden">
                    <div class="row">
                        <div class="col-10">
                            <div class="input-group mb-3">
                                <input id="SearchBox-desktop" type="text" class="form-control" placeholder="Search GrievanceForum">
                                <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
                            </div>
                        </div>
                        <div class="col-2" style="white-space: nowrap;">
                            <button class="btn btn-primary w-100" style="overflow: hidden;" onclick="isdesktop = 1;getPostFeed(1)">Search</button>
                        </div>
                    </div>
                    <button class="btn btn-sm" data-bs-toggle="collapse" href="#collapsePostInfo" role="button" aria-expanded="false" aria-controls="collapsePostInfo">
                        <input class="form-check-input" type="checkbox" id="FilterCheckBox-desktop">
                        <label class="form-check-label" for="FilterCheckBox-desktop">
                            <i class="fa-solid fa-filter"></i> Filter Search
                        </label>
                    </button>
        
                    <div class="collapse w-100" style="border:0" id="collapsePostInfo">
                        <div class="card card-body">
                            <br>
                            <div>
                                <label class="form-label">Post Category</label><br>
                                <select id="categorySelect-desktop" class="form-select" aria-label="Default select example">
                                    <option value="0" selected>All Category</option>
                                    <%for(let i = 0; i < category.length;i++){%>
                                    <option value="<%=i+1%>"><%=category[i]['title']%></option>
                                    <%}%>
                                </select>
                            </div><br>
                            <div>
                                <label class="form-label">Sort Post By</label><br>
                                <div class="row">
                                    <div class="col-7">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions-desktop" id="SortPostRadio1-desktop" value="0">
                                            <label class="form-check-label" for="SortPostRadio1">Top</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions-desktop" id="SortPostRadio2-desktop" value="1" checked='checked'>
                                            <label class="form-check-label" for="SortPostRadio2">New</label>
                                        </div>
                                    </div>
                                    <div class="col-5">
                                        <select id="sortDate-desktop" class="form-select" aria-label="Default select example">
                                            <option value="0">Today</option>
                                            <option value="1">This Week</option>
                                            <option value="2" selected>This Month</option>
                                            <option value="3">This Year</option>
                                            <option value="3">LifeTime</option>
                                        </select>
                                    </div>
                                </div>
                            </div><br>
                            <div>
                                <label class="form-label">Post Comment & Support</label><br>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="CanComment-desktop">
                                            <label class="form-check-label" for="CanComment-desktop">
                                            Can Comment
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="CanSupport-desktop">
                                            <label class="form-check-label" for="CanSupport-desktop">
                                            Can Support
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div><br>
                            <div>
                                <label class="form-label">Post Status</label><br>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-check">
                                            <input class="form-check-input" value="bothPost" type="radio" name="postStatus-desktop" id="postStatus0-desktop" checked>
                                            <label class="form-check-label" for="postStatus0-desktop">
                                            Both
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-check">
                                            <input class="form-check-input" value="solvedPost" type="radio" name="postStatus-desktop" id="postStatus1-desktop">
                                            <label class="form-check-label" for="postStatus1-desktop">
                                            Solved Post
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-check">
                                            <input class="form-check-input" value="unSolvedPost" type="radio" name="postStatus-desktop" id="postStatus2-desktop">
                                            <label class="form-check-label" for="postStatus2-desktop">
                                            Unsolved Post
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><hr><br>

            <!-- Showing Feed Result Text -->
            <div id="searchResultTextBox-desktop" style="position:absolute;visibility:hidden" class="alert alert-primary" role="alert">
                <div class="row">
                <div class="col-7" id="searchResultText-desktop">Showing Feed From Result</div>
                <div class="col-5 d-flex justify-content-end align-items-end"><button class="btn btn-sm btn-outline-primary w-50" onclick="getPostFeed(0)" >Reset</button></div>
                </div>
            </div>

            <!-- Post Feed -->
            <div id="postFeed-desktop">
    
            </div>
            <div class="d-flex justify-content-center align-items-center" id="PostLoader-desktop" style="margin-top:20%">
                <div class="spinner-border text-primary" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <%if(userInfo.anonymous == 1){%></div><%}%>
            <%if(userInfo.anonymous == 1){%>
                <div style="position: absolute;top:50%;left:30%;">
                    <div>
                        <h2 style="color:var(--bs-warning);text-shadow: 1px 1px 2px rgba(0, 0, 0,.5);"><i class="fa-solid fa-lock"></i> Can't Be Viewed On</h2>
                        <h2 style="color:var(--bs-warning);text-shadow: 1px 1px 2px rgba(0, 0, 0,.5);margin-left:25px;">Anonymous Mode</h2>
                    </div>
                </div>    
            <%}%>
        </div>

        <div class="col-3">
            <!-- Anonymous id -->
            <%if(userInfo.anonymous == 1){%>
            <div class="card border-warning mb-3">
                <div class="card-header"><i class="fa-solid fa-user-secret"></i> Anonymous Post ID</div>
                <div class="card-body">
                  <h5 class="card-title">Want To Check Your Anonymous Post?</h5>

                  <div class="mb-3">
                    <input type="text"class="form-control" name="postID" id="postID" placeholder="Post ID"/>
                  </div>
                  <div class="row w-100">
                    <div class="col w-100">
                        <div class="row w-100">    
                            <div class="col-3 text-start">
                                <div id="findPostID" style="opacity: 0;" class="spinner-border text-warning" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                            <div class="col-8">
                                <div id="findPostResult"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col d-flex justify-content-end">
                        <button class="btn btn-warning" onclick="findID()">Go To The Post</button>
                    </div>
                  </div>
                </div>
                <script>
                    function findID(){
                        let pstID = document.getElementById("postID").value ;
                        $("#findPostID").css("opacity","100");
                        $("#findPostResult").empty();
                        
                        if(pstID == ""){
                            $("#findPostID").css("opacity","0");
                            $("#findPostResult").empty();
                            return;   
                        }
                        console.log(pstID);
                        $.ajax({
                        type:"post",
                        url:"/",
                        data:{
                            findPost:true,
                            id:document.getElementById("postID").value
                        },
                        success: function(data){
                            if(data.length >= 1){
                                $("#findPostID").css("opacity","0");
                                $("#findPostResult").html("✅ Post Found");
                                
                                window.location.replace("../post/"+data[0].id);
                            }else{
                                $("#findPostID").css("opacity","0");
                                $("#findPostResult").html("❌NotFound");
                            }
                        },
                        failed:function(data){
                            $("#findPostID").css("opacity","0");
                            $("#findPostResult").html("Unable To Connect!");
                        }
                        });
                    }
                </script>
            </div>
            <%}%>
        
            <!-- Create Post Card-->
            <div class="card">
                <div class="card-body">
                    <p class="fs-5"><i class="fa-brands fa-flipboard"></i> Create Post</p><hr>
                    <img id="createPost-desktop" src="" class="img-fluid rounded-start" alt="...">
                    
                    <script>
                        if(localStorage.darkmode == 'true') document.getElementById('createPost-desktop').src='images/dashboardCreateDark.jpg';
                        else document.getElementById('createPost-desktop').src='images/dashboardCreate.jpg';
                        
                        function changeImage(){
                            if(localStorage.darkmode == 'true')document.getElementById('createPost-desktop').src='images/dashboardCreateDark.jpg';
                            else document.getElementById('createPost-desktop').src='images/dashboardCreate.jpg';
                        }
                        
                    </script>

                    <p class="card-text">Create A New Post In The BIT GrievanceForum Now! Click The Create Post Button To Get Started</p>
                    <a href="../create" class="btn btn-success w-100" style="white-space: nowrap;overflow: hidden;"> <i class="fa-solid fa-pencil"></i> Create Post </a>
                </div>
            </div>
            <br>

            <!-- Select Category Card-->
            <%if(userInfo.anonymous != 1){%>
            <div class="card">
                <div class="card-body">
                    <p class="fs-5"><i class="fa-solid fa-layer-group"></i> Select Categories</p><hr>
                    <%for(let i = 0; i < category.length;i++){%>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="CategoryRadio" <%="onclick=getPostFeed(2,"+category[i]['sno']+")"%> id="<%=category[i]['title']%>Radio">
                            <label class="form-check-label" for="<%=category[i]['title']%>Radio">
                                <i class="<%=category[i]['icon']%>"></i> <%=category[i]['title']%>
                            </label>
                        </div>
                        <br>
                    <%}%>
                </div>
            </div>
            <%}%>

        </div>
    </div>

</div>

<!--
    Mobile Panel
-->
<div class="container-fluid mobile">
    
    <!-- Include Top Nav Bar -->
    <%- include('partials/mobileTopNavbar.ejs') %>
    <br>

    <!-- Include Bottom Nav Bar -->
    <%- include('partials/mobileBottomNavbar.ejs') %>

    <!-- Search Bar + Filter Search -->
    <div class="card">
        <div class="card-body" style="overflow:hidden">
            <div class="row">
                <div class="col-9">
                    <div class="input-group mb-3">
                        <input id="SearchBox-mobile" type="text" class="form-control" placeholder="Search GrievanceForum">
                        <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
                    </div>
                </div>
                <div class="col-2">
                    <button class="btn btn-primary" onclick="isdesktop = 0;getPostFeed(1)">Search</button>
                </div>
            </div>
            <button class="btn btn-sm" data-bs-toggle="collapse" href="#collapsePostInfo" role="button" aria-expanded="false" aria-controls="collapsePostInfo">
                <input class="form-check-input" type="checkbox" id="FilterCheckBox-mobile">
                <label class="form-check-label" for="FilterCheckBox-mobile">
                    <i class="fa-solid fa-filter"></i> Filter Search
                </label>
            </button>

            <div class="collapse w-100" style="border:0" id="collapsePostInfo">
                <div class="card card-body">
                    <br>
                    <div>
                        <label class="form-label">Post Category</label><br>
                        <select id="categorySelect-mobile" class="form-select" aria-label="Default select example">
                            <option value="0" selected>All Category</option>
                            <%for(let i = 0; i < category.length;i++){%>
                            <option value="<%=i%>"><%=category[i]['title']%></option>
                            <%}%>
                        </select>
                    </div><br>
                    <div>
                        <label class="form-label">Sort Post By</label><br>
                        <div class="row">
                            <div class="col-7">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions-mobile" id="SortPostRadio1-mobile" value="0">
                                    <label class="form-check-label" for="SortPostRadio1-mobile">Top</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions-mobile" id="SortPostRadio2-mobile" value="1" checked>
                                    <label class="form-check-label" for="SortPostRadio2-mobile">New</label>
                                </div>
                            </div>
                            <div class="col-5">
                                <select id="sortDate-mobile" class="form-select" aria-label="Default select example">
                                    <option value="0">Today</option>
                                    <option value="1">This Week</option>
                                    <option value="2" selected>This Month</option>
                                    <option value="3">This Year</option>
                                    <option value="3">LifeTime</option>
                                </select>
                            </div>
                        </div>
                    </div><br>
                    <div>
                        <label class="form-label">Post Comment & Support</label><br>
                        <div class="row">
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="CanComment-mobile">
                                    <label class="form-check-label" for="CanComment-mobile">
                                    Can Comment
                                    </label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="CanSupport-mobile">
                                    <label class="form-check-label" for="CanSupport-mobile">
                                    Can Support
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div><br>
                    <div>
                        <label class="form-label">Post Status</label><br>
                        <div class="row">
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" value="bothPost" type="radio" name="postStatus-mobile" id="postStatus0-mobile" checked>
                                    <label class="form-check-label" for="postStatus0-mobile">
                                    Both
                                    </label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" value="solvedPost" type="radio" name="postStatus-mobile" id="postStatus1-mobile">
                                    <label class="form-check-label" for="postStatus1-mobile">
                                    Solved Post
                                    </label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" value="unSolvedPost" type="radio" name="postStatus-mobile" id="postStatus2-mobile">
                                    <label class="form-check-label" for="postStatus2-mobile">
                                    Unsolved Post
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <!-- Category -->
    <div id="category">
        <p class="fs-3">Categories</p>
        <div class="card" style="border:0;overflow:hidden;overflow-x: scroll;">
            <div class="d-flex" style="height:200px;">
                <%for(let i = 0; i < category.length;i++){%>
                    <div style="margin-left:10px;">
                        <label class="form-check-label" for="<%=category[i]['title']%>Radio">
                        <input class="form-check-input" <%="onclick=getPostFeed(2,"+category[i]['sno']+")"%> style="visibility: hidden;" type="radio" name="CategoryRadio" id="<%=category[i]['title']%>Radio">
                        <div class="card mb-3" style="height:140px;width:270px;">
                            <div class="row" style="margin-left:2px;">
                                <div class="col-4 d-flex align-items-center justify-content-center">
                                    <img src="/images/categories/<%=category[i]['image']%>" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-8">
                                    <div class="card-body">
                                    <h5 class="card-title" style="color:var(--bs-primary)"><i class="<%=category[i]['icon']%>"></i> <%=category[i]['title']%></h5>
                                    <p class="card-text"><%=category[i]['description']%></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </label>
                    </div>
                <%}%>
            </div>
        </div>
    </div>

    <hr>
    <div>
        <!-- Post Feed Text -->
        <div class="row">
            <div class="col-4 d-flex align-items-center text-align-start">
                <p class="fs-3">Your Feed</p>
            </div>
            <div class="col-8">
                <div id="searchResultTextBox" style="visibility:hidden" class="alert alert-primary" role="alert">
                    <div class="row">
                    <div class="col-7" id="searchResultText">From Search Result</div>
                    <div class="col-5"><button class="btn btn-sm btn-outline-primary" onclick="getPostFeed(0)" style="width:100%">Reset</button></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Post Feed -->
        <div id="postFeed-mobile">

        </div>
    </div>
    <div class="d-flex justify-content-center align-items-center" id="PostLoader-mobile" style="margin-top:20%">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
    </div>

</div>
<script>
    function getPostFeed(PostLoadMode,categoryid=0){

        function postRes(data, status){
            if(data.length == 0){
                let postNF_ = `<br>
                <div class="card mb-3" style="border:0;">
                    <div class="row g-0">
                        <div class="col-4">
                        <img  src="images/searchQuery/${parseInt(Math.random()*15)}.png" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-8 d-flex align-items-center justify-content-center">
                            <div class="card-body">
                                <h5 class="card-title">❌ No Post Found</h5>
                                <p class="card-text">Click <code>Reset</code> To Reset Your Post Feed!.</p>
                            </div>
                        </div>
                    </div>
                </div>
                `
                document.getElementById("postFeed-mobile").insertAdjacentHTML('beforeend', postNF_);
                document.getElementById("postFeed-desktop").insertAdjacentHTML('beforeend', postNF_);
            }

            let post_;
            for(let i = 0; i < data.length; i++){
                post_ = `<a href="../post/${data[i]['id']}" style="color:black;text-decoration: none !important;">
                    <div class="alert alert-light" style="border:1px solid var(--bs-secondary);overflow:hidden" role="alert">
                        <div class="row">
                            <div class="col-9"><p class="alert-heading fs-4">${data[i]['title']}</p></div>
                            <div class="col-3 text-align-end text-muted" style="font-size:12px;">${data[i]['datetime']}</div>
                        </div>
                        <p class="text-muted">${data[i]['description']}</p>
                        `+((data[i]['status'] == 2)?`<button type="button" class="btn btn-sm btn-success"> <i class="fa-solid fa-circle-check"></i> Post Is Solved</button>`:(data[i]['status'] == 1)?`<button type="button" class="btn btn-sm btn-secondary"> <i class="fa-solid fa-circle-check"></i> Post Is Solved</button>`:``)+`
                        <hr>
                        <a href="" class="btn btn-sm btn-outline-secondary">
                            <div class="row">
                                <div class="col-1">
                                    <img src="`+((data[i].anonymous==1)?"images/anonymous.webp":data[i]['picture'])+`" class="rounded-circle" style="width:20px"/>
                                </div>
                                <div class="col-9 text-align-start">`+((data[i].anonymous==1)?"Anonymous":data[i]['name'])+`</div>
                            </div>
                        </a>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-sm btn-outline-secondary"><i class="fa-regular fa-eye"></i> ${data[i]['views']}</button>`
                            + ((data[i]['comment'] == 1)?`<button type="button" class="btn btn-sm btn-outline-secondary"><i class="fa-regular fa-message"></i> ${data[i]['comments']}</button>`:``)
                            + ((data[i]['support'] == 1)?`<button type="button" class="btn btn-sm btn-outline-secondary"><i class="fa-solid fa-hand-sparkles"></i> ${data[i]['likes']}</button>`:``)+
                        `</div>
                        <button type="button" class="btn btn-sm btn-outline-secondary">`+data[i]['cat_name']+`</button>
                    </div>
                </a><br>`

                document.getElementById("postFeed-mobile").insertAdjacentHTML( 'beforeend',post_);
                document.getElementById("postFeed-desktop").insertAdjacentHTML( 'beforeend',post_);
            }

            $("#PostLoader-mobile").css("visibility","hidden");
            $("#PostLoader-desktop").css("visibility","hidden");
            if(PostLoadMode == 0){//ON LOAD
                $("#searchResultTextBox").css("visibility","hidden");
                $("#searchResultTextBox-desktop").css("visibility","hidden");
                $("#searchResultTextBox-desktop").css("position","absolute");
            }else if(PostLoadMode == 1){//NORMAL SEARCH
                $("#searchResultText").html("From Search Result");
                $("#searchResultText-desktop").html("From Search Result");
                $("#searchResultTextBox").css("visibility","visible");
                $("#searchResultTextBox-desktop").css("visibility","visible");
                $("#searchResultTextBox-desktop").css("position","static");
            }else if(PostLoadMode == 2){//CATEGORY
                $("#searchResultText").html("From The Category "+cat_name);
                $("#searchResultText-desktop").html("From The Category "+cat_name);
                $("#searchResultTextBox").css("visibility","visible");
                $("#searchResultTextBox-desktop").css("visibility","visible");
                $("#searchResultTextBox-desktop").css("position","static");
            }
        }

        $("#postFeed-mobile").empty();
        $("#postFeed-desktop").empty();
        $("#PostLoader-mobile").css("visibility","visible");
        $("#PostLoader-desktop").css("visibility","visible");

        let cat_name;
        if(isdesktop == 1) cat_name = document.getElementById("categorySelect-desktop")[categoryid].text;
        else cat_name = document.getElementById("categorySelect-mobile")[categoryid].text;

        if(isdesktop == 1){
            $.post("",{
                loadPost:true,
                onload:PostLoadMode,
                filter:document.getElementById("FilterCheckBox-desktop").checked?1:0,
                search:document.getElementById("SearchBox-desktop").value,
                category:(PostLoadMode == 2)?categoryid:document.getElementById("categorySelect-desktop").value,
                sort:document.getElementById("SortPostRadio1-desktop").checked?0:1,
                date:document.getElementById("sortDate-desktop").value,
                status:document.getElementById("postStatus0-desktop").checked?2:(document.getElementById("postStatus1-desktop").checked?1:0),
                canComment:document.getElementById("CanComment-desktop").checked?1:0,
                canSupport:document.getElementById("CanSupport-desktop").checked?1:0
            },postRes);
        }else{
            $.post("",{
                loadPost:true,
                onload:PostLoadMode,
                filter:document.getElementById("FilterCheckBox-mobile").checked?1:0,
                search:document.getElementById("SearchBox-mobile").value,
                category:(PostLoadMode == 2)?categoryid:document.getElementById("categorySelect-mobile").value,
                sort:document.getElementById("SortPostRadio1-mobile").checked?0:1,
                date:document.getElementById("sortDate-mobile").value,
                status:document.getElementById("postStatus0-mobile").checked?2:(document.getElementById("postStatus1-mobile").checked?1:0),
                canComment:document.getElementById("CanComment-mobile").checked?1:0,
                canSupport:document.getElementById("CanSupport-mobile").checked?1:0
            },postRes);
        }
    }

    $(document).ready(getPostFeed(0));
</script>
</body>
</html>