<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrievanceForum</title>

    <link rel="manifest" href="app.webmanifest" />
    <link rel="icon" href="images/grievanceforum.ico" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">
    <script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/08c3f952c9.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link href="../css/style.css" rel="stylesheet"/>

    <style>
        #deleteToastPara, #failedSaveToastPara{
            background-color: var(--bs-danger);
        }
        #saveToastPara{
            background-color: var(--bs-success);
        }
        #saveToast, #failedSaveToast, #ErrorPostToast{
            position: fixed;
            left: 1%;
            bottom: 10%;
        }

        @media (min-width:0px)  { 
            .fixed-bottom{opacity: 0;visibility: hidden;}
        }
        @media (min-width:300px)  { 
            .fixed-bottom{opacity: 1;visibility: visible;}
        }
        @media (min-width:768px)  { 
            .fixed-bottom{opacity: 0;visibility: hidden;}
        }
    </style>
</head>
<body>
<script>
    let autoSaveInterval;
    if(localStorage.darkmode == 'true'){
        document.body.classList.toggle('dark-theme');
    }else{
        localStorage.setItem('darkmode',false);
    }
</script>
<!--
    No View Panel
-->
<div class="noview w-75">
    <p>
        <i class="fa-solid fa-xmark"></i> Can't Be Viewed
    </p>
    <hr>
    <p class="text-muted">
        Increase Your Resolution<br>To View The App!
    </p>
</div>

<!--
    Desktop Panel
-->
<div class="container-fluid desktop">
    <!-- Include Top Nav Bar -->
    <%- include('partials/desktopNavbar.ejs') %>
    <br>
</div>

<!--
    Mobile Panel
-->
<div class="container-fluid">
    <!-- Include Top Nav Bar -->
    <%- include('partials/mobileTopNavbar.ejs') %>
    <br>

    <!-- Include Bottom Nav Bar -->
    <%- include('partials/mobileBottomNavbar.ejs') %>


    <!-- Post Inputs -->
    <div class="Create">
        <p class="fs-5">
            Manage Your Post
        </p>
        
        <!-- Post ID -->
        <div class="mb-3">
            <label class="form-label">Post ID</label>
            <input type="text" class="form-control" placeholder="Post ID" value="<%=postInfo['id']%>" disabled>
        </div>
        
        <!-- Post Title -->
        <div class="mb-3">
            <label class="form-label">Title<span style="color:red;">*</span></label>
            <input type="text" class="form-control" placeholder="Title" id="title" value="<%=postInfo['title'];%>" required>
        </div>
        
        <!-- Post Description -->
        <div class="form-group">
            <label for="Description">Description<span style="color:red;">*</span></label>
            <textarea class="form-control" placeholder="Description" id="description" rows="3" style="resize: none;" required><%=postInfo['description']%></textarea>
        </div>
        
        <!-- Post Report -->
        <div>
            <label class="form-label">Report<span style="color:red;">*</span></label>
            <textarea id="my-text-area" required></textarea>
        </div>
        <br>
        <!-- Load Post Report -->
        <script>
            const easyMDE = new EasyMDE({autosave:{enabled: false},placeholder:"Report",spellChecker: false,tabSize:4,toolbar: ["bold", "italic", "strikethrough", "heading", "|", "quote", "unordered-list", "ordered-list", "|", "link", "image", "|", "redo", "undo", "|", "fullscreen", "guide"],element: document.getElementById('my-text-area')});
            easyMDE.value(`<%=postInfo["report"]%>`);
        </script>
        
        <!-- Post Preview -->
        <button type="button" class="btn btn-primary btn-sm" onclick="if(easyMDE.value().trim() == '') return;this.remove();previewMarkdown()"><i class="fa-regular fa-eye"></i> Preview Your Report</button>
        <div id="PreviewBox" style="visibility:hidden">
            <label class="form-label">Report Preview</label> <button type="button" class="btn btn-primary btn-sm" id="Preview"><i class="fa-regular fa-eye"></i> Preview Your Report</button>
            <div class="spinner-border text-primary" role="status" id="PreviewBoxSpinner">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>

        <!-- Post Settings -->
        <%if(userInfo.anonymous != 1){%>
        <br>
        <p class="fs-5">Post Settings</p>
        <%}%>
        <!-- Post Categories -->
        <div>
            <label class="form-label">Post Category</label>
            <div class="card">
                <div class="card-body">
                    <select class="form-select" id="categorySelect" aria-label="Default select example">
                        <%for(let i = 0; i < category.length;i++){%>
                        <option name="<%=category[i]['title']%>" value="<%=category[i]['sno']%>" <%if(postInfo['category']== category[i]['sno']){%>selected<%}%>><%=category[i]['title']%></option>
                        <%}%>
                      </select>
                </div>
            </div>
        </div>

        <%if(userInfo.anonymous == 1){%>
            <br>
            <div class="card">
                <div class="card-body">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#postConfirmAnonymous">
                        Post Your Grievance
                    </button>
                    <%if(postInfo.draft != 1){%>
                        <button type="button" class="btn btn-success" onclick="SaveDraft(false,true)">
                            Update Post
                        </button>
                    <%}%>
                </div>
            </div>
            <br>

            <div class="card text-bg-secondary">
            <div class="card-body">
                <h5 class="card-title"><i class="fa-solid fa-circle-info"></i> Note</h5>
                <h6 class="card-subtitle mb-2">You Are Posting As Anonymous. So, You Cant Use Other Post Options.</h6>
            </div>
            </div>
            <br>
        <%}else{%>
        <!-- Post Visibility -->
        <div>
            <label class="form-label">Post visibility</label>
            <div class="card">
                <div class="card-body">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="PostVisibilityRadio" id="PostVisibilityRadio1" onclick="ChangeIncognito('all');" <%if(postInfo['visibility']== 0){%>checked<%}%>>
                        <label class="form-check-label" for="PostVisibilityRadio1">All</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="PostVisibilityRadio" id="PostVisibilityRadio2" onclick="ChangeIncognito('admin');" <%if(postInfo['visibility']== 1){%>checked<%}%>>
                        <label class="form-check-label" for="PostVisibilityRadio2">Admins (Only)</label>
                    </div>
                </div>
              </div>
        </div>

        <!-- Post (Comments | Anonymous | Support) -->
        <div>
            <label class="form-label">Incognito & Comments</label>
            <div class="card">
                <div class="card-body" id="anonymousCard">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="anonymousCheck" <%if(postInfo['anonymous']== 1){%>checked<%}%>>
                        <label class="form-check-label" for="anonymousCheck">
                        Crendential Known Only To The Admin <code>(Anonymous)</code>
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="CommentOthersCheck" <%if(postInfo['comment']== 1){%>checked<%}%>>
                        <label class="form-check-label" for="CommentOthersCheck">
                        Allow Others To Comment
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="SupportPostCheck" <%if(postInfo['support']== 1){%>checked<%}%>>
                        <label class="form-check-label" for="SupportPostCheck">
                        Others Can Support Your Post
                        </label>
                    </div>
                    <p class="text-muted" id="anonymousInfo"><i class="fa-regular fa-circle-question"></i>This Section Has No Effect When Post Visibility Is Set To <span class="font-monospace">Admin(Only)</span>!</p>
                </div>
            </div>

            <script>
                function ChangeIncognito(checkbox){
                    if(checkbox == 'admin'){
                        document.getElementById("anonymousCheck").checked = false;
                        document.getElementById("CommentOthersCheck").checked = false;
                        document.getElementById("SupportPostCheck").checked = false;
                        document.getElementById("anonymousCheck").setAttribute("disabled", "disabled");
                        document.getElementById("CommentOthersCheck").setAttribute("disabled", "disabled");
                        document.getElementById("SupportPostCheck").setAttribute("disabled", "disabled");
                        if(document.getElementById("anonymousInfo") == undefined)document.getElementById("anonymousCard").insertAdjacentHTML( 'beforeend', '<p class="text-muted" id="anonymousInfo"><i class="fa-regular fa-circle-question" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Tooltip on right"></i>This Section Has No Effect When Post Visibility Is Set To <span class="font-monospace">Admin(Only)</span>!</p>' );
                    }else{
                        document.getElementById("anonymousCheck").removeAttribute("disabled");
                        document.getElementById("CommentOthersCheck").removeAttribute("disabled");
                        document.getElementById("SupportPostCheck").removeAttribute("disabled");
                        if(document.getElementById("anonymousInfo") != undefined)document.getElementById("anonymousInfo").remove();
                    }
                }
                ChangeIncognito(document.getElementById("PostVisibilityRadio1").checked?'all':'admin');
            </script>
        </div>

        <!-- Post (POST | SAVE | DELETE | BACK) -->
        <div>
            <label class="form-label">Post</label>
            <div class="card">
                <div class="card-body">
                    <a href="<%if(postInfo.draft == 1){%>../manage<%}else{%>../post/<%=postInfo.id%><%}%>" class="btn btn-secondary">
                        <i class="fa-solid fa-chevron-left"></i> Back
                    </a>

                    <div class="vr"></div>

                    <%if(postInfo.draft == 1){%>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticPostConfirmBackdrop">
                        Post
                    </button>
                    <%}%>

                    <button type="button" class="btn btn-success" id="SaveDraft">
                        Save <%if(postInfo.draft == 1){%>Draft<%}else{%>Post<%}%>
                    </button>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticDeleteBackdrop">
                        Delete <%if(postInfo.draft == 1){%>Draft<%}else{%>Post<%}%>
                    </button>
                </div>
            </div>
        </div>
        <%}%>
    </div>
    <br><br><br>
</div>

<!-- Save Toast -->
<div class="toast align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true" id="saveToast">
    <div class="d-flex">
        <div class="toast-body" id="saveToastPara"></div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div>

<!-- Failed Save Toast -->
<div class="toast align-items-center text-bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true" id="failedSaveToast">
    <div class="d-flex">
        <div class="toast-body" id="failedSaveToastPara"></div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div>

<!-- Invalid Post Toast -->
<div class="toast align-items-center text-bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true" id="ErrorPostToast">
    <div class="d-flex">
        <div class="toast-body" id="deleteToastPara">Invalid Post Details ( Title | Description | Report )</div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div>

<!-- Delete Post Modal -->
<div class="modal fade" id="staticDeleteBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticDeleteBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticDeleteBackdropLabel"><i class="fa-regular fa-trash-can"></i> Delete Post</h1>
        </div>
        <div class="modal-body">
            <div id="DeleteLoaderText" style="opacity: 1;transition: opacity 0.3s linear;">
                Once The Post Is Deleted, The Post Can't Be Recovered. To Delete This Post Click The <code>Delete</code> Button Below.
            </div>
            <div id="DeleteLoader" class="d-flex justify-content-center" style="position:relative;bottom:20px;opacity: 0;transition: opacity 0.3s linear;">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div style="position:relative;left:155px;visibility:hidden;" id="DeleteOkContainer">
                <a href="../manage" class="btn btn-success">Ok</a>
            </div>
            <div id="DeleteTwoBtnContainer">
                <button type="button" class="btn btn-secondary" id="DeleteDismiss" data-bs-dismiss="modal">Dismiss</button>
                <button type="button" class="btn btn-danger" id="DeletePost">Delete</button>
            </div>
        </div>
      </div>
    </div>
</div>

<!-- Post Post Modal -->
<div class="modal fade" id="staticPostConfirmBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticPostConfirmBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticPostConfirmBackdropLabel"><i class="fa-solid fa-file-circle-check"></i> Post Confirmation</h1>
        </div>
        <div class="modal-body">
            <div id="postText" style="opacity: 1;transition: opacity 0.3s linear;">
            We Recommand To Review Your Post & Post Settings Before Posting.
            Remember Admin Can View Your Post Even After Deletion.
            By Posting You Are Accepting Our Terms And Condition.
            </div>
            <div id="PostLoader" class="d-flex justify-content-center" style="position:relative;bottom:20px;opacity: 0;transition: opacity 0.3s linear;">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div style="position:relative;left:155px;visibility:hidden;" id="PostOkContainer">
                <a href="../dashboard"  class="btn btn-success">Ok</a>
            </div>
            <div id="TwoPostButton">
                <button type="button" class="btn btn-secondary" id="PostDismiss" data-bs-dismiss="modal">Dismiss</button>
                <button type="button" class="btn btn-success" id="PostDraft">Post</button>
            </div>
        </div>
      </div>
    </div>
</div>

<!-- Post Anonymous Modal -->
<div class="modal fade" id="postConfirmAnonymous" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticPostConfirmBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticPostConfirmBackdropLabel"><i class="fa-solid fa-file-circle-check"></i> Post Confirmation</h1>
        </div>
        <div class="modal-body">
            <div id="postTextAnonymous" style="opacity: 1;transition: opacity 0.3s linear;">
            We Recommand To Review Your Post & Post Settings Before Posting.
            Remember Admin Can View Your Post Even After Deletion.
            By Posting You Are Accepting Our Terms And Condition.
            <br><br>
            <div class="alert alert-warning" role="alert">
                <span class="text-muted"><i class="fa-solid fa-user-secret"></i> Anonymous Mode</span><br><br>
                Use This ID To See This Post Anytime!<br>
                <div style="color:black"><%=postInfo['short_id']%></div>
            </div>
            </div>
            <div id="PostLoaderAnonymous" class="d-flex justify-content-center" style="position:relative;bottom:20px;opacity: 0;transition: opacity 0.3s linear;">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div style="position:relative;left:155px;visibility:hidden;" id="PostOkContainerAnonymous">
                <a href="../dashboard"  class="btn btn-success">Ok</a>
            </div>
            <div id="TwoPostButtonAnonymous">
                <button type="button" class="btn btn-secondary" id="PostDismissAnonymous    " data-bs-dismiss="modal">Dismiss</button>
                <button type="button" class="btn btn-success" onclick="PostDraft(true)">Post</button>
            </div>
        </div>
      </div>
    </div>
</div>


<script>
$("#Preview").click(previewMarkdown);
$("#DeletePost").click(DeletePost);
$("#SaveDraft").click(SaveDraft);
$("#PostDraft").click(PostDraft);

$(document).ready(function() {
    if(document.getElementById("PostVisibilityRadio2").checked==true){
        document.getElementById("anonymousCheck").setAttribute("disabled", "disabled");
        document.getElementById("CommentOthersCheck").setAttribute("disabled", "disabled");
        document.getElementById("SupportPostCheck").setAttribute("disabled", "disabled");
    }
});

function previewMarkdown(){
    if(easyMDE.value() == "") return;
    document.getElementById("PreviewBox").style.visibility = "visible";

    $.post("/edit",{
    preview:true,
    report: easyMDE.value().replace('\'','').replace('\"','').replace('`','')
    },
    function(data, status){
        if(document.getElementById("PreviewBoxInfo") != undefined) document.getElementById("PreviewBoxInfo").remove();
        document.getElementById("PreviewBox").insertAdjacentHTML( 'beforeend', '<div class="card" id="PreviewBoxInfo"><div class="card-body">'+data+'</div></div>');
        document.getElementById("PreviewBoxSpinner").style.visibility = "hidden";
    });
}

function PostDraft(anonymous=false){
    console.log("POSTING DRAFT: anonymous:",anonymous);
    if(
        $("#title").val().replace('\'','').replace('\"','').replace('`','').replace('\n','').trim() == "" ||
        $("#description").val().replace('\'','').replace('\"','').replace('`','').trim() == "" ||
        easyMDE.value().replace('\'','').replace('\"','').replace('`','').trim() == ""
    ){
        $('#staticPostConfirmBackdrop').modal('hide');
        $("#ErrorPostToast").toast("show");
        return;
    }

    $("#PostDismiss").prop('disabled', true);
    $("#PostDismissAnonymous").prop('disabled', true);
    $("#postText").css("opacity","0");
    $("#postTextAnonymous").css("opacity","0");
    $("#PostLoader").css("opacity","1");
    $("#PostLoaderAnonymous").css("opacity","1");
    clearInterval(autoSaveInterval);

    if(anonymous != true){
    $.ajax({
        type:"post",
        url:"/edit",
        data:{
            post:true,
            id:"<%=postInfo['id']%>",
            mail:"<%=postInfo['mail']%>",
            title:$("#title").val().replace('\'','').replace('\"','').replace('`','').replace('\n','') || "",
            description:$("#description").val().replace('\'','').replace('\"','').replace('`','') || "",
            report:easyMDE.value().replace('\'','').replace('\"','').replace('`','') || "",
            category:document.getElementById("categorySelect").value,
            categoryName:document.getElementById("categorySelect")[ parseInt(document.getElementById("categorySelect").value)-1 ].text.split(" ")[0],
            visibility:document.getElementById("PostVisibilityRadio1").checked?0:1,
            anonymous:document.getElementById("anonymousCheck").checked?1:0,
            comment:document.getElementById("CommentOthersCheck").checked?1:0,
            support:document.getElementById("SupportPostCheck").checked?1:0,
            draft:1
        },
        success: function(data){
            $("#postText").html("<i class='fa-regular fa-circle-check'></i> Posted Successfully!");
            $("#postText").css("opacity","1");
            $("#PostLoader").css("opacity","0");
            $("#TwoPostButton").css("visibility","hidden");
            $("#PostOkContainer").css("visibility","visible");
        },
        failed:function(data){
            $("#postText").html("<i class='fa-regular fa-circle-check'></i> Posted Successfully!");
            $("#postText").css("opacity","1");
            $("#PostLoader").css("opacity","0");
            $("#TwoPostButton").css("visibility","hidden");
            $("#PostOkContainer").css("visibility","visible");
        }
    });
    }else{
        $.ajax({
        type:"post",
        url:"/edit",
        data:{
            post:true,
            id:"<%=postInfo['id']%>",
            mail:"<%=postInfo['mail']%>",
            title:$("#title").val().replace('\'','').replace('\"','').replace('`','').replace('\n','') || "",
            description:$("#description").val().replace('\'','').replace('\"','').replace('`','') || "",
            report:easyMDE.value().replace('\'','').replace('\"','').replace('`','') || "",
            category:document.getElementById("categorySelect").value,
            categoryName:document.getElementById("categorySelect")[ parseInt(document.getElementById("categorySelect").value)-1 ].text.split(" ")[0],
            visibility:1,
            anonymous:1,
            comment:0,
            support:0,
            draft:1
        },
        success: function(data){
            $("#postTextAnonymous").html("<i class='fa-regular fa-circle-check'></i> Posted Successfully!");
            $("#postTextAnonymous").css("opacity","1");
            $("#PostLoaderAnonymous").css("opacity","0");
            $("#TwoPostButtonAnonymous").css("visibility","hidden");
            $("#PostOkContainerAnonymous").css("visibility","visible");
        },
        failed:function(data){
            $("#postTextAnonymous").html("<i class='fa-regular fa-circle-check'></i> Posted Successfully!");
            $("#postTextAnonymous").css("opacity","1");
            $("#PostLoaderAnonymous").css("opacity","0");
            $("#TwoPostButtonAnonymous").css("visibility","hidden");
            $("#PostOkContainerAnonymous").css("visibility","visible");
        }
    });
        
    }
}

function SaveDraft(isAutoSave=false,anonymous=false){
    if(anonymous == false){
    $.ajax({
        type: 'POST',
        url: "/edit",
        data: {
            save:true,
            id:"<%=postInfo['id']%>",
            mail:"<%=postInfo['mail']%>",
            title:$("#title").val().replace('\'','').replace('\"','').replace('`','') || "",
            description:$("#description").val().replace('\'','').replace('\"','').replace('`','') || "",
            report:easyMDE.value().replace('\'','').replace('\"','').replace('`','') || "",
            category:document.getElementById("categorySelect").value,
            categoryName:document.getElementById("categorySelect")[ parseInt(document.getElementById("categorySelect").value)-1 ].text.split(" ")[0],
            visibility:document.getElementById("PostVisibilityRadio1").checked?0:1,
            anonymous:document.getElementById("anonymousCheck").checked?1:0,
            comment:document.getElementById("CommentOthersCheck").checked?1:0,
            support:document.getElementById("SupportPostCheck").checked?1:0,
            draft:1
        },
        success: function(data) {
            if(isAutoSave==true) $("#saveToastPara").html(`AutoSave Successfull ${(new Date())}`); 
            else $("#saveToastPara").html(`Save Successfull`);
            $("#saveToast").toast("show");
        },
        error: function(xhrReq, textStatus, errorThrown) {
            if(isAutoSave==true)$("#failedSaveToastPara").html(`AutoSave Failed!`); 
            else $("#failedSaveToastPara").html(`Save Failed`);
            $("#failedSaveToast").toast("show");
        }
    });
    }else{
        $.ajax({
        type: 'POST',
        url: "/edit",
        data: {
            save:true,
            id:"<%=postInfo['id']%>",
            mail:"<%=postInfo['mail']%>",
            title:$("#title").val().replace('\'','').replace('\"','').replace('`','') || "",
            description:$("#description").val().replace('\'','').replace('\"','').replace('`','') || "",
            report:easyMDE.value().replace('\'','').replace('\"','').replace('`','') || "",
            category:document.getElementById("categorySelect").value,
            categoryName:document.getElementById("categorySelect")[ parseInt(document.getElementById("categorySelect").value)-1 ].text.split(" ")[0],
            visibility:1,
            anonymous:1,
            comment:0,
            support:0,
            draft:1
        },
        success: function(data) {
            if(isAutoSave==true) $("#saveToastPara").html(`AutoSave Successfull ${(new Date())}`); 
            else $("#saveToastPara").html(`Save Successfull`);
            $("#saveToast").toast("show");
        },
        error: function(xhrReq, textStatus, errorThrown) {
            if(isAutoSave==true)$("#failedSaveToastPara").html(`AutoSave Failed!`); 
            else $("#failedSaveToastPara").html(`Save Failed`);
            $("#failedSaveToast").toast("show");
        }
    });
    }

}

function DeletePost(){
    $("#DeleteDismiss").prop('disabled', true);
    $("#DeleteLoaderText").css("opacity","0");
    $("#DeleteLoader").css("opacity","1");

    $.post("/edit",{
        delete:true,
        id:"<%=postInfo['id']%>"
    },
    function(data, status){
        $("#DeleteLoaderText").html("<i class='fa-regular fa-circle-check'></i> Post Deleted Successfully!");
        $("#DeleteLoaderText").css("opacity","1");
        $("#DeleteLoader").css("opacity","0");
        $("#DeleteTwoBtnContainer").css("visibility","hidden");
        $("#DeleteOkContainer").css("visibility","visible");
    });
}

</script>

<%if(userInfo.anonymous != 1){%>
<script>
const startAutoSave = parseInt('<%=postInfo.draft%>');
if(startAutoSave == 1) {
    autoSaveInterval = setInterval(SaveDraft.bind(null,true), 10*1000);
}
</script>
<%}%>

</body>
</html>