<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrievanceForum</title>

    <link rel="manifest" href="app.webmanifest" />
    <link rel="icon" href="images/grievanceforum.ico" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/08c3f952c9.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link href="../css/style.css" rel="stylesheet"/>

</head>
<body>

<script>
    if(localStorage.darkmode == 'true'){
        document.body.classList.toggle('dark-theme');
    }else{
        localStorage.setItem('darkmode',false);
    }
</script>

<!--
    No View Panel
-->
<div class="noview w-75">
    <p>
        <i class="fa-solid fa-xmark"></i> Can't Be Viewed
    </p>
    <hr>
    <p class="text-muted">
        Increase Your Resolution<br>To View The App!
    </p>
</div>

<!--
    Desktop Panel
-->
<div class="container-fluid desktop">

    <!-- Include Top Nav Bar -->
    <%- include('partials/desktopNavbar.ejs') %>
    <br>

    <div class="row justify-content-center" id="navbarSupportedContent">
        <div class="col-6">

            <!-- Post (Title | Description | Report) -->
            <div class="card w-100">
                <div class="card-body">
                    
                    <p class="fs-2">
                        <%=postInfo.title%>
                    </p>
                    <p class="text-muted">
                        <%=postInfo.description%>
                    </p>

                    <hr>
                    <button type="button" class="btn btn-sm btn-outline-secondary">
                        <%=postInfo.cat_name%>
                    </button>

                    <a href="" class="btn btn-sm btn-outline-secondary">
                        <div class="row">
                            <div class="col-1">
                                <img src="<%if(userInfo.isadmin || postInfo.anonymous != 1){%><%=postInfo.picture%><%}else{%>../images/anonymous.webp<%}%>" class="rounded-circle" style="width:20px"/>
                            </div>
                            <div class="col-9 text-align-start">
                                <%if(userInfo.isadmin || postInfo.anonymous != 1){%><%=postInfo.name%><%}else{%>Anonymous<%}%>
                            </div>
                        </div>
                    </a>

                    <div id="reportMarkdown">
                        <%-report%>
                    </div>

                    <hr>
                    <!-- Post Solution -->
                    <%if(solution.length != 0 && postInfo.status != 0){%>
                        <br>
                        <div>
                        <div class="card text-bg-<%if(postInfo.status == 1){%>secondary<%}else{%>success<%}%> mb-3">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-5">
                                        Solution
                                    </div>
                                    <div class="col-7 d-flex justify-content-end align-items-center">

                                        <span style="margin-right:10px;"><%if(postInfo.status == 1){%>Solution By<%}else{%>Solved By<%}%></span>
                                        <a href="" class="btn btn-sm btn-light" style="border:0;">
                                            <div class="row">
                                                <div class="col-2">
                                                    <img src="<%=solution[0].picture%>" class="rounded-circle" style="width:20px"/>
                                                </div>
                                                <div class="col-9 text-align-start">
                                                    <%=solution[0].name%>
                                                </div>
                                            </div>
                                        </a>

                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    <%=solution[0].message%>
                                </p>
                            </div>
                        </div>
                        <%if(postInfo.status == 1 && postInfo.mail == userInfo['mail']){%>
                        <div class="card border-success mb-3">
                            <!-- <div class="card-header">Header</div> -->
                            <div class="card-body text-success">
                                <div class="row">
                                    <div class="col d-flex align-items-center">
                                        <h5 class="card-title">Are You Satisfied With Action Taken?</h5>
                                    </div>
                                    <div class="col d-flex justify-content-end">
                                        <div>
                                        <form method="post" action="../">
                                            <input style="opacity: 0;visibility: hidden;position:absolute" name="postid" value="<%=postInfo.id%>"/>
                                            <button type="submit" name="satisfied" class="btn btn-success"><i class="fa-solid fa-thumbs-up"></i> Yes, Im Satisfied</button>
                                            <button type="submit" name="notSatisfied" class="btn btn-danger"><i class="fa-solid fa-circle-xmark"></i> No</button>
                                        </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%}%>
                        </div>
                        <br>
                    <%}%>

                    <!-- Post Comments -->
                    <div class="comment">
                        <p class="fs-5 text-muted">Comments</p>
                        <% if(postInfo.comment == 1){%>

                        <div class="mb-3">
                            <label for="CommentArea-desktop" class="form-label">Post Your Comment</label>
                            <textarea class="form-control" id="CommentArea-desktop" rows="2"></textarea>
                            <br>
                            <div class="d-flex align-items-end justify-content-end">
                                <button class="btn btn-sm btn-primary" id="postComment-desktop">Post Comment</button>
                            </div>
                        </div>
                        <br>

                        <%for(let i = 0; i < comments.length; i++){%>
                            <div class="card" style="margin-top:5px;">
                                <div class="card-body">
                                    <div class="d-flex text-muted">
                                        <a href="" class="btn btn-sm btn-outline-secondary" style="border:0;">
                                            <div class="row">
                                                <div class="col-1">
                                                    <img src="<%=comments[i].picture%>" class="rounded-circle" style="width:20px"/>
                                                </div>
                                                <div class="col-9 text-align-start">
                                                    <%=comments[i].name%>
                                                </div>
                                            </div>
                                        </a>• <%=comments[i].datetime%>
                                    </div>

                                    <p class="card-text">
                                        <%=comments[i].message%>
                                    </p>
                                    <% if(comments[i].mail == userInfo['mail']){ %>
                                        <hr>
                                        <button class="btn btn-sm btn-primary" <%-"onclick='editComment("+comments[i].sno+",`"+comments[i].message.trim()+"`)'"%>><i class="fa-solid fa-pen"></i> Edit Comment</button>
                                        <button class="btn btn-sm btn-danger" <%-"onclick='deleteComment("+comments[i].sno+",`"+comments[i].message.trim()+"`)'"%>><i class="fa-regular fa-trash-can"></i> Delete Comment</button>
                                    <%}%>
                                </div>
                            </div>
                        <%}%>

                        <!-- Empty Post Comment -->
                        <%if(comments.length == 0){%>
                            <div class="card w-100" style="border:0px;">
                                <div class="card-body text-muted text-align-center">
                                    <i class="fa-solid fa-inbox"></i> No Comments Yet!
                                </div>
                            </div>
                        <%}%>
                        
                        <!-- Disabled Comment -->
                        <%}else{%>
                            <p class="text-muted text-align-center">
                                <i class="fa-regular fa-circle-xmark"></i> User Have Disabled The Comments!
                            </p>
                        <%}%>
                    </div>
                    
                </div>
            </div>

        </div>

        <div class="col-3">
            <!-- Category Card -->
            <div class="card mb-3" style="height:140px;overflow:hidden">
                <div class="row" style="margin-left:2px;">
                    <div class="col-4 d-flex align-items-center justify-content-center">
                        <img src="/images/categories/<%=category[0]['image']%>" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-8">
                        <div class="card-body">
                        <h5 class="card-title"><i class="<%=category[0]['icon']%>"></i> <%=category[0]['title']%></h5>
                        <p class="card-text"><%=category[0]['description']%></p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Admin Access -->
            <%if(userInfo.isadmin == 1){%>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Admin Access</h5>
                    <hr>
                    <div style="display:grid">
                        <button type="button" class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#staticSolvePost" <%if(solution.length != 0){%>disabled<%}%>> <i class="fa-regular fa-square-check"></i> <%if(solution.length == 0){%>Solve Post<%}else{%>Solved<%}%></button>
                        <br>
                        <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#staticDeleteRealPost" > <i class="fa-regular fa-square-minus"></i> Remove Post</button>
                        <br>
                        <!-- <a href="../edit/<%=postInfo.id%>" type="button" class="btn btn-sm btn-primary"> <i class="fa-regular fa-pen-to-square"></i> Edit Post</a> -->
                    </div>
                </div>
            </div>
            <%}%>

            <!-- Post Basic Info -->
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text">Created On: <span class="text-muted" style="font-size:15px;"><%=postInfo.datetime%></span></p>
                    <hr>
                    <div class="row">
                        <div class="col d-flex align-items-center justify-content-center">
                            <i class="fa-regular fa-eye"></i>
                            <span style="margin-left:6px;"></span>
                            <%=postInfo.views%>
                        </div>
                        <div class="col d-flex align-items-center justify-content-center">
                            <% if(postInfo.support == 1){%>
                                <i class="fa-solid fa-hand-sparkles"></i>
                                <span style="margin-left:6px;"></span>
                                <%=postInfo.likes%>
                            <%}%> 
                        </div>
                        <div class="col d-flex align-items-center justify-content-center">
                            <% if(postInfo.comment == 1){%>
                                    <i class="fa-regular fa-message"></i>
                                    <span style="margin-left:6px;"></span>
                                    <%=postInfo.comments%>
                                <%}%>
                            </div>
                    </div>

                    <!-- Post Support Button -->
                    <%if(userInfo.isadmin == 0){%>
                        <% if(postInfo.support == 1){%>
                        <br>
                        <button id="supportBtn-desktop" onclick="supportPost()" class="btn btn-large w-100 btn<%if(isSupporting == 0){%>-outline<%}%>-success">
                            <i class="fa-solid fa-hand-sparkles"></i> <%if(isSupporting == 0){%>Support This Post<%}else{%>Currently Supporting<%}%>
                        </button>
                        <%}%>
                    <%}%>
                </div>
            </div>

            <!-- Share | Bookmark | GoBack -->
            <div class="card mb-3">
                <div class="card-body">
                    <form method="POST" action="../post">
                        <input style="position:absolute;visibility:hidden;" name="title" value="<%=postInfo.title%>">
                        <input style="position:absolute;visibility:hidden;" name="id" value="<%=postInfo.id%>">
                        <div class="btn-group w-100" role="group">
                            <button data-bs-toggle="modal" data-bs-target="#ShareModal" type="button" class="btn btn-sm btn-outline-secondary">
                                <i class="fa-solid fa-arrow-up-right-from-square"></i> Share
                            </button>
                            <button name="bookmark" type="submit" class="btn btn-sm btn-outline-secondary <%if(isBookmarked.length > 0){%>active<%}%>">
                                <i class="fa-regular fa-bookmark"></i> Bookmark<%if(isBookmarked.length > 0){%>ed<%};%>
                            </button>
                            
                        </div>
                    </form>
                    <p></p>
                    <a href="../" class="btn btn-sm btn-outline-secondary w-100">Go Back To Dashboard</a>
                    
                    <!-- Edit Post Button -->
                    <%if(userInfo.mail == postInfo.mail && postInfo.status != 1){%>
                        <hr>
                        <a href="<%if(postInfo.status == 1){%>javascript:void(0)<%}else{%>../edit/<%=postInfo.id%><%}%>" class="btn btn-sm btn-primary w-100">
                            <i class="fa-solid fa-pen"></i> Edit Your Post
                        </a>
                    <%}%>
                </div>
            </div>

        </div>
    </div>
</div>

<!--
    Mobile Panel
-->
<div class="container-fluid mobile">

    <!-- Include Top Nav Bar -->
    <%- include('partials/mobileTopNavbar.ejs') %>
    <br>

    <%if(userInfo.isadmin == 0){%>
        <!-- Include Bottom Nav Bar -->
        <%- include('partials/mobileBottomNavbar.ejs') %>
    <%}else{%>
        <nav class="navbar fixed-bottom ">
            <div class="container-fluid">
                <a href="../dashboard" type="button" class="btn btn-sm btn-secondary">
                    <i class="fa-solid fa-house"></i> Go Back
                </a> 
            </div>
        </nav>
    <%}%>
    
    <!-- Admin Access -->
    <%if(userInfo.isadmin == 1){%>
    <div class="card">
        <div class="card-body">
            <p class="fs-4">Admin Access</p>
            <div class="adminTools">
                <button type="button" class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#staticSolvePost" <%if(solution.length != 0){%>disabled<%}%>>
                    <i class="fa-regular fa-square-check"></i>
                    <%if(solution.length == 0){%>Solve Post<%}else{%>Solved<%}%>
                </button>
                <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#staticDeleteRealPost">
                    <i class="fa-regular fa-square-minus"></i> Remove Post
                </button>
                <div class="vr"></div>
                <a href="../edit/<%=postInfo.id%>" type="button" class="btn btn-sm btn-primary">
                    <i class="fa-regular fa-pen-to-square"></i> Edit Post
                </a>
            </div>
        </div>
    </div><br>
    <%}%>

    <!-- Post Info (Title | Description | Report) -->
    <div class="post">

        <p class="fs-2"><%=postInfo.title%></p>
        <p class="text-muted"><%=postInfo.description%></p>
        <hr>

        <div class="text-muted" style="font-size:13px;">
            <div class="row">
                <div class="col">Created On: <span><%=postInfo.datetime%></span></div>
                <div class="col">Viewed: <span><%=postInfo.views%> times</span></div>
            </div>
        </div>

        <br>
        <div id="reportMarkdown">
            <%-report%>
        </div>

        <!-- Support Post -->
        <% if(userInfo.isadmin == 0){%>
        <% if(postInfo.support == 1){%>
        <div>
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-4">
                    <button id="supportBtn-mobile" onclick="supportPost()" class="btn btn-large btn<%if(isSupporting == 0){%>-outline<%}%>-success"><i class="fa-solid fa-hand-sparkles"></i> <%if(isSupporting == 0){%>Support This Post<%}else{%>Currently Supporting<%}%></button>
                </div>
                <div class="col-7 text-align-start text-muted">
                    This Post Is Supported By <%=postInfo.likes%> Students
                </div>
            </div>
        </div>

        <!-- Support Count -->
        <%} }else{%>
            <% if(postInfo.support == 1){%>
            <div class="col-7 text-align-start text-muted">
                This Post Is Supported By <%=postInfo.likes%> Students
            </div>
        <%}}%>
        <hr>

        <div>
            <form method="POST" action="../post">
                <input style="position:absolute;visibility:hidden;" name="title" value="<%=postInfo.title%>">
                <input style="position:absolute;visibility:hidden;" name="id" value="<%=postInfo.id%>">
            <a href="" class="btn btn-sm btn-outline-secondary">
                <div class="row">
                    <div class="col-1">
                        <img src="<%if(userInfo.isadmin || postInfo.anonymous != 1){%><%=postInfo.picture%><%}else{%>../images/anonymous.webp<%}%>" class="rounded-circle" style="width:20px"/>
                    </div>
                    <div class="col-9 text-align-start">
                        <%if(userInfo.isadmin || postInfo.anonymous != 1){%><%=postInfo.name%><%}else{%>Anonymous<%}%>
                    </div>
                </div>
            </a>

            <!-- Share | Bookmark | Edit Post -->
            <button data-bs-toggle="modal" data-bs-target="#ShareModal" type="button" class="btn btn-sm btn-outline-secondary">
                <i class="fa-solid fa-arrow-up-right-from-square"></i> Share
            </button>
            <button name="bookmark" type="submit" class="btn btn-sm btn-outline-secondary <%if(isBookmarked.length > 0){%>active<%}%>">
                <i class="fa-regular fa-bookmark"></i> Bookmark<%if(isBookmarked.length > 0){%>ed<%};%>
            </button>
            
            
            <%if(userInfo.isadmin == 0){%>
            <%if(userInfo.mail == postInfo.mail && postInfo.status != 1){%>
            <a href="<%if(postInfo.status == 1){%>javascript:void(0)<%}else{%>../edit/<%=postInfo.id%><%}%>" class="btn btn-sm btn-primary">
                <i class="fa-solid fa-pen"></i> Edit Post
            </a>
            <%}}%>
            </form>
        </div><br>

        <!-- Post Solution -->
        <%if(solution.length != 0){%>
        <div>
            <div class="card text-bg-success mb-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col-5">Solution</div>
                        <div class="col-7 d-flex justify-content-end align-items-center">
                            <span style="margin-right:10px;">Solved By</span>
                            <a href="" class="btn btn-sm btn-light" style="border:0;">
                                <div class="row">
                                    <div class="col-2">
                                        <img src="<%=solution[0].picture%>" class="rounded-circle" style="width:20px"/>
                                    </div>
                                    <div class="col-9 text-align-start"><%=solution[0].name%></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <p class="card-text"><%=solution[0].message%></p>
                </div>
            </div>
        </div>
        <%}%>

        <!-- Comments -->
        <br>
        <div class="comment">
            <p class="fs-3 text-muted">Comments</p>
            
            <% if(postInfo.comment == 1){%>
                <div class="mb-3">
                    <label for="CommentArea-mobile" class="form-label">Post Your Comment</label>
                    <textarea class="form-control" id="CommentArea-mobile" rows="2"></textarea>
                    <br>
                    <div class="d-flex align-items-end justify-content-end">
                        <button class="btn btn-sm btn-primary" id="postComment-mobile">Post Comment</button>
                    </div>
                </div>
                <br>

                <%for(let i = 0; i < comments.length; i++){%>
                    <div class="card" style="margin-top:5px;">
                        <div class="card-body">
                            <div class="d-flex text-muted">
                                <a href="" class="btn btn-sm btn-outline-secondary" style="border:0;">
                                    <div class="row">
                                        <div class="col-1">
                                            <img src="<%=comments[i].picture%>" class="rounded-circle" style="width:20px"/>
                                        </div>
                                        <div class="col-9 text-align-start"><%=comments[i].name%></div>
                                    </div>
                                </a>• <%=comments[i].datetime%>
                            </div>

                            <p class="card-text"><%=comments[i].message%></p>
                            <% if(comments[i].mail == userInfo['mail']){ %>
                                <hr>
                                <button class="btn btn-sm btn-primary"  <%-"onclick='editComment("+comments[i].sno+",`"+comments[i].message.trim()+"`)'"%>><i class="fa-solid fa-pen"></i> Edit Comment</button>
                                <button class="btn btn-sm btn-danger"   <%-"onclick='deleteComment("+comments[i].sno+",`"+comments[i].message.trim()+"`)'"%>><i class="fa-regular fa-trash-can"></i> Delete Comment</button>
                            <%}%>
                        </div>
                    </div>
                <%}%>

                <!-- Empty Comment -->
                <%if(comments.length == 0){%>
                    <div class="card w-100" style="border:0px;">
                        <div class="card-body text-muted text-align-center">
                            <i class="fa-solid fa-inbox"></i> No Comments Yet!
                        </div>
                    </div>
                <%}%>

            <%}else{%>
                <p class="text-muted text-align-center">
                    <i class="fa-regular fa-circle-xmark"></i> User Have Disabled The Comments!
                </p>
            <%}%>
        </div>
    </div>

    <br><br><br>
</div>

<!-- Share Post -->
<div class="modal fade" id="ShareModal" tabindex="-1" aria-labelledby="ShareModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="ShareModalLabel">Share The Post</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <div class="mb-3">
                <div class="input-group mb-3">
                    <input id="shareURL" type="text" class="form-control" placeholder="Post Link" value="" readonly>
                    <button class="btn btn-light" type="button" id="button-addon2" onclick="copyText.select();copyText.setSelectionRange(0, 99999);navigator.clipboard.writeText(copyText.value);this.innerHTML='✅';setTimeout(()=>{this.innerHTML='Copy'}, 1000);">Copy</button>
                </div>
                <hr>
                <div class="card" style="border:0;overflow:hidden;">
                    <div class="share-apps d-flex" style="overflow-x:scroll;margin-left:10px;font-size:50px;">
                        <a href="https://api.whatsapp.com/send?text=CheckOut This Post In The GrievanceForum! {URL_HERE}" data-action="share/whatsapp/share"  target="_blank">
                            <i class="fa-brands fa-whatsapp text-muted"></i>
                        </a>
                        <a href="https://www.facebook.com/sharer/sharer.php?u={URL_HERE}" style="margin-left:20px;" target="_blank">
                            <i class="fa-brands fa-facebook text-muted"></i>
                        </a>
                        <a href="https://twitter.com/intent/tweet?text=CheckOut This Post In The GrievanceForum&url={URL_HERE}" style="margin-left:20px;" target="_blank">
                            <i class="fa-brands fa-twitter text-muted"></i>
                        </a>
                        <a href="MAILTO:" style="margin-left:20px;" target="_blank">
                            <i class="fa-solid fa-envelope text-muted"></i>
                        </a>
                        <a href="http://www.reddit.com/submit?url={URL_HERE}&title=CheckOut This Post In The GrievanceForum" style="margin-left:20px;" target="_blank">
                            <i class="fa-brands fa-reddit text-muted"></i>
                        </a>
                        <a href="#" style="margin-left:20px;">
                            <i class="fa-brands fa-pinterest text-muted"></i>
                        </a>
                        <a href="#" style="margin-left:20px;">
                            <i class="fa-brands fa-linkedin text-muted"></i>
                        </a>
                        <a href="" style="margin-left:20px;" >
                            <i class="fa-brands fa-blogger text-muted"></i>
                        </a>
                    </div>
                </div>
                <script> 
                    let copyText = document.getElementById('shareURL');
                    copyText.value = window.location.href.replace('http://','');

                    var apps = document.getElementsByClassName("share-apps")[0].children;
                    for (var i = 0; i < apps.length; i++) {
                        apps[i].href = apps[i].href.replace("{URL_HERE}",copyText.value);
                    }
                </script>
            </div>
            </div>
        </div>
    </div>
</div>

<!-- Delete Comment -->
<div class="modal fade" id="staticDeleteBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticDeleteBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticDeleteBackdropLabel"><i class="fa-regular fa-trash-can"></i> Delete Comment</h1>
        </div>
        <div class="modal-body">
            <div id="DeleteLoaderText" style="opacity: 1;transition: opacity 0.3s linear;">
                Once The Comment Is Deleted, The Comment Can't Be Recovered. To Delete This Comment Click The <code>Delete</code> Button Below.
            </div>

            <input type="text" class="form-control" id="DeleteId" style="visibility:hidden;" disabled>
            
            <div id="ExtraTitleDesc" style="overflow:hidden;height:100px;transition: all ease-in-out 0.2s;">
                <hr>
                <div class="mb-3">
                    <label class="form-label">Description</label>
                    <input type="text" name="description" class="form-control" id="Deletedescription" disabled>
                </div>
            </div>
            <div id="DeleteLoader" class="d-flex justify-content-center" style="position:relative;bottom:20px;opacity: 0;transition: opacity 0.3s linear;">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div style="position:relative;left:155px;visibility:hidden;" id="DeleteOkContainer">
                <a href="../post/<%=postInfo.id%>" type="submit" class="btn btn-success" >Ok</a>
            </div>
            <div id="DeleteTwoBtnContainer">
                <button type="button" class="btn btn-secondary" id="DeleteDismiss" data-bs-dismiss="modal">Dismiss</button>
                <button type="button" class="btn btn-danger" id="DeletePost">Delete</button>
            </div>
        </div>
        </div>
    </div>
</div>

<!-- Edit Comment -->
<div class="modal fade" id="staticEditBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticEditBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticEditBackdropLabel"><i class="fa-regular fa-trash-can"></i> Edit Comment</h1>
        </div>
        <div class="modal-body">
            <div id="EditLoaderText" style="opacity: 1;transition: opacity 0.3s linear;"></div>
            <input type="text" class="form-control" id="EditId" style="visibility:hidden;position:absolute" disabled>
            <div id="ExtraEditTitleDesc" style="overflow:hidden;transition: all ease-in-out 0.2s;">
                <div class="mb-3">
                    <label class="form-label">Description</label>
                    <textarea class="form-control" name="description" id="Editdescription" rows="2"></textarea>
                </div>
            </div>
            <div id="EditLoader" class="d-flex justify-content-center" style="position:relative;bottom:20px;opacity: 0;transition: opacity 0.3s linear;">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div style="position:relative;left:155px;visibility:hidden;" id="EditOkContainer">
                <a href="../post/<%=postInfo.id%>" type="submit" class="btn btn-success" >Ok</a>
            </div>
            <div id="EditTwoBtnContainer">
                <button type="button" class="btn btn-secondary" id="EditDismiss" data-bs-dismiss="modal">Dismiss</button>
                <button type="button" class="btn btn-primary" id="EditPost">Edit</button>
            </div>
        </div>
        </div>
    </div>
</div>

<!-- Solve Post -->
<%if(userInfo.isadmin == 1){%>
<div class="modal fade" id="staticSolvePost" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticSolvePostLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Solve Post</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <label for="solutionTextArea" class="form-label">Solution</label>
                <textarea class="form-control" id="solutionTextArea" rows="12"></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Dismiss</button>
            <button type="button" id="postSolution" class="btn btn-success">Solve Post</button>
        </div>
        </div>
    </div>
</div>

<!-- Delete Post -->
<div class="modal fade" id="staticDeleteRealPost" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticDeleteRealPostLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel"><i class="fa-solid fa-trash-can"></i> Delete Post</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <code>Beware:</code> Once The Post Is Deleted You Can't Be Able To Recover It!
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-danger" id="deleteRealPost">Delete Post</button>
        </div>
        </div>
    </div>
</div>
<%}%>

<!-- Invalid Comment Post Error -->
<div class="toast align-items-center text-bg-danger border-0" style="position: fixed;left: 1%;bottom: 10%;width: 98%;" role="alert" aria-live="assertive" aria-atomic="true" id="ErrorPostToast">
    <div class="d-flex">
        <div class="toast-body">Invalid Comment ( Write Something... )</div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div>

<script>
    $("#deleteRealPost").click(function(){
        $.post("/post",{
            deletePost:true,
            id:"<%=postInfo.id%>",
        },
        function (data, status){
            location.reload();
        });
    });

    $("#postSolution").click(function(){
        if($("#solutionTextArea").val().trim().replace('`','') == ""){
            $("#ErrorPostToast").toast("show");
            return;
        }
        document.getElementById("solutionTextArea").removeAttribute("disabled");
        document.getElementById("postSolution").removeAttribute("disabled");

        $.post("/post",{
            postSolution:true,
            id:"<%=postInfo.id%>",
            message:$("#solutionTextArea").val().replace('`','')
        },
        function (data, status){
            document.getElementById("solutionTextArea").removeAttribute("disabled");
            document.getElementById("postSolution").removeAttribute("disabled");
            $("#solutionTextArea").val("");
            location.reload();
        });
    });

    $("#postComment-desktop").click(()=>{
        if($("#CommentArea-desktop").val().trim().replace('`','') == ""){
            $("#ErrorPostToast").toast("show");
            return;
        }
        document.getElementById("CommentArea-desktop").setAttribute("disabled","disabled");
        document.getElementById("postComment-desktop").setAttribute("disabled","disabled");

        $.post("/post",{
            postComment:true,
            id:"<%=postInfo.id%>",
            message:$("#CommentArea-desktop").val().replace('`','')
        },
        function (data, status){
            document.getElementById("CommentArea-desktop").removeAttribute("disabled");
            document.getElementById("postComment-desktop").removeAttribute("disabled");
            $("#CommentArea-desktop").val("");
            location.reload();
        });
    });

    $("#postComment-mobile").click( ()=>{
        if($("#CommentArea-mobile").val().trim().replace('`','') == ""){
            $("#ErrorPostToast").toast("show");
            return;
        }
        document.getElementById("CommentArea-mobile").setAttribute("disabled","disabled");
        document.getElementById("postComment-mobile").setAttribute("disabled","disabled");

        $.post("/post",{
            postComment:true,
            id:"<%=postInfo.id%>",
            message:$("#CommentArea-mobile").val().replace('`','')
        },
        function (data, status){
            document.getElementById("CommentArea-mobile").removeAttribute("disabled");
            document.getElementById("postComment-mobile").removeAttribute("disabled");
            $("#CommentArea-mobile").val("");
            location.reload();
        });
    } );

    function supportPost(){
        document.getElementById("supportBtn-mobile").setAttribute("disabled", "disabled");
        document.getElementById("supportBtn-desktop").setAttribute("disabled", "disabled");
        $("#supportBtn-mobile").html('<div class="spinner-border text-success" role="status"><span class="visually-hidden">Loading...</span></div>');
        $("#supportBtn-desktop").html('<div class="spinner-border text-success" role="status"><span class="visually-hidden">Loading...</span></div>');
        
        $.post("/post",{
            supportPost:true,
            id:"<%=postInfo.id%>",
        },
        function(data, status){
            document.getElementById("supportBtn-mobile").removeAttribute("disabled");
            document.getElementById("supportBtn-desktop").removeAttribute("disabled");
            if(data == 0){
                $("#supportBtn-mobile").attr('class', 'btn btn-large btn-outline-success');
                $("#supportBtn-desktop").attr('class', 'btn btn-large btn-outline-success w-100');
                $("#supportBtn-mobile").html('<i class="fa-solid fa-hand-sparkles"></i> Support The Post');
                $("#supportBtn-desktop").html('<i class="fa-solid fa-hand-sparkles"></i> Support The Post');
            }else{
                $("#supportBtn-mobile").attr('class', 'btn btn-large btn-success');
                $("#supportBtn-desktop").attr('class', 'btn btn-large btn-success w-100');
                $("#supportBtn-mobile").html('<i class="fa-solid fa-hand-sparkles"></i> Currently Supporting');
                $("#supportBtn-desktop").html('<i class="fa-solid fa-hand-sparkles"></i> Currently Supporting');
            }
        });
    }

    function editComment(CommentId,message){
        $("#EditId").val(CommentId);
        $("#Editdescription").val(message);
        $('#staticEditBackdrop').modal('show');
    }

    $("#EditPost").click(function(){
        if($("#Editdescription").val().trim().replace('`','') == ""){
            $("#ErrorPostToast").toast("show");
            $('#staticEditBackdrop').modal('hide');
            return;
        }

        $("#EditDismiss").prop('disabled', true);
        $("#ExtraEditTitleDesc").css("opacity","0");
        $("#EditLoader").css("opacity","1");
        $.post("/post",{
            editComment:true,
            id:$("#EditId").val(),
            message:$("#Editdescription").val().replace('`','')
        },
        function(data, status){
            $("#EditLoaderText").html("<i class='fa-regular fa-circle-check'></i> Comment Changed Successfully!");
            $("#EditLoaderText").css("opacity","1");
            $("#EditLoader").css("opacity","0");
            $("#EditTwoBtnContainer").css("visibility","hidden");
            $("#EditOkContainer").css("visibility","visible");
        });
    });

    function deleteComment(CommentId,message){
        $("#DeleteId").val(CommentId);
        $("#Deletedescription").val(message);
        $('#staticDeleteBackdrop').modal('show');
    }

    $("#DeletePost").click(function(){
        $("#DeleteDismiss").prop('disabled', true);
        $("#DeleteLoaderText").css("opacity","0");
        $("#DeleteLoader").css("opacity","1");
        $.post("/post",{
            deleteComment:true,
            id:$("#DeleteId").val(),
            Postid:"<%=postInfo.id%>"
        },
        function(data, status){
            $("#ExtraTitleDesc").css("height","0px");
            $("#DeleteLoaderText").html("<i class='fa-regular fa-circle-check'></i> Comment Deleted Successfully!");
            $("#DeleteLoaderText").css("opacity","1");
            $("#DeleteLoader").css("opacity","0");
            $("#DeleteTwoBtnContainer").css("visibility","hidden");
            $("#DeleteOkContainer").css("visibility","visible");
        });
    });
</script>
</body>
</html>