<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrievanceForum</title>
    
    <link rel="manifest" href="app.webmanifest" />
    <link rel="icon" href="images/grievanceforum.ico" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/08c3f952c9.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link href="css/style.css" rel="stylesheet"/>

    <!-- Profile Page (Style & Script) -->
    <style>
        .mb-3{
            width:66%;
        }
        .card-body .card{
            border:0px;
        }
        #DeleteLoader{
            position:relative;
            bottom:20px;
            opacity: 0;
            transition: opacity 0.3s linear;
        }
        #DeleteLoaderText{
            opacity: 1;
            transition: opacity 0.3s linear;
        }
        #DeleteId{
            visibility: hidden;
        }
        #DeleteOkContainer{
            position:relative;
            left:155px;
            visibility:hidden;
        }
        #ExtraTitleDesc{
            overflow:hidden;
            height:190px;
            transition: all ease-in-out 0.2s;
        }
    </style>
</head>
<body>
<script>
    if(localStorage.darkmode == 'true'){
        document.body.classList.toggle('dark-theme');
    }else{
        localStorage.setItem('darkmode',false);
    }
</script>

<!--
    No View Panel
-->
<div class="noview w-75">

    <p>
        <i class="fa-solid fa-xmark"></i> Can't Be Viewed
    </p>
    <hr>

    <p class="text-muted">
        Increase Your Resolution <br> To View The App!
    </p>

</div>

<!--
    Desktop Panel
-->
<div class="container-fluid desktop">

    <!-- Include Top Nav Bar -->
    <%- include('partials/desktopNavbar.ejs') %>
    <br>

    <div class="d-flex justify-content-center align-items-center">

        <!-- Profile Card -->
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4 w-25 d-flex justify-content-center align-items-center">
                    <img src="<%=userInfo['picture']%>" class="img-fluid rounded-start w-100" alt="profilePicture">
                </div>
                <div class="col-md-8 w-75">
                    <div class="card-body">
                        <h5 class="card-title"><%=userInfo['name']%></h5>
                        <p class="card-text"><%=userInfo['mail']%></p>
                        <hr>
                        <p class="card-text">
                            <div class="row">

                                <div class="col">
                                    <div class="card">
                                        <div class="card-body">
                                            <small class="text-muted fs-6"><i class="fa-solid fa-book-open"></i> Post Read: <button type="button" class="btn btn-sm btn-light"><%=totalViews.length%></button></small>
                                        </div>
                                    </div><br>
                                    <div class="card">
                                        <div class="card-body">
                                            <small class="text-muted fs-6"><i class="fa-solid fa-message"></i> Comments: <button type="button" class="btn btn-sm btn-light"><%=totalComments.length%></button></small>
                                        </div>
                                    </div><br>
                                    <div class="card">
                                        <div class="card-body">
                                            <small class="text-muted fs-6"><i class="fa-solid fa-hand-sparkles"></i> Supports: <button type="button" class="btn btn-sm btn-light"><%=totalLikes.length%></button></small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <div class="card-body">
                                            <small class="text-muted fs-6"><i class="fa-solid fa-bookmark"></i> Bookmarks: <button type="button" class="btn btn-sm btn-light"><%=bookmarks.length%></button></small>
                                        </div>
                                    </div><br>
                                    <div class="card">
                                        <div class="card-body">
                                            <small class="text-muted fs-6"><i class="fa-solid fa-feather-pointed"></i> Posts: <button type="button" class="btn btn-sm btn-light"><%=posts.length%></button></small>
                                        </div>
                                    </div>
                                </div>
                        
                            </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <br>

    <div class="row justify-content-center">

        <div class="col-4">
            <!-- User Posts -->
            <div class="card">
                <div class="card-body">

                    <h5 class="card-title">
                        <i class="fa-regular fa-clone"></i> Your Posts
                    </h5>
                    <hr>

                    <%if(posts.length == 0){%>
                    <p class="card-text">Haven't Posted Anything Yet</p>
                    <%}%>

                    <%for(let i = 0; i < posts.length; i++){%>
                        <% if(posts[i].draft == 1) continue;%>
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-5"><%=i+1%>.<%=posts[i].title%></div>
                                    <div class="col-7">
                                        <a href="../post/<%=posts[i].id%>" class="btn btn-sm btn-secondary"><i class="fa-solid fa-eye"></i></a>
                                        <a href="../edit/<%=posts[i].id%>" class="btn btn-sm btn-primary"><i class="fa-solid fa-pen"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <%}%>

                </div>
            </div>
        </div>

        <div class="col-4">
            <!-- User Bookmarks -->
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="fa-regular fa-bookmark"></i> Your Bookmarks
                    </h5>
                    <hr>

                    <%if(bookmarks.length == 0){%>
                    <p class="card-text">Haven't Bookmarked Anything Yet</p>
                    <%}%>
        
                    <%for(let i = 0; i < bookmarks.length; i++){%>
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-5"><%=i+1%>.<%=bookmarks[i].name%></div>
                                    <div class="col-7">
                                        <a href="../post/<%=bookmarks[i].postid%>" class="btn btn-sm btn-secondary"><i class="fa-solid fa-eye"></i></a>
                                        <a <%-'onclick=\'deleteBookmark("'+bookmarks[i].postid+'")\''%> class="btn btn-sm btn-danger"><i class="fa-regular fa-trash-can"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <%}%>
                </div>

            </div>
        </div>

    </div>

</div>

<!--
    Mobile Panel
-->
<div class="container-fluid mobile">

    <!-- Include Top Nav Bar -->
    <%- include('partials/mobileTopNavbar.ejs') %>
    <br>

    <!-- Include Bottom Nav Bar -->
    <%- include('partials/mobileBottomNavbar.ejs') %>

    <!-- Profile Card -->
    <div class="card">
        <div class="row g-0">
            <div class="col-4">
            <img src="<%=userInfo['picture']%>" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-8">
            <div class="card-body text-align-start">
                <h5 class="card-title"><%=userInfo['name']%></h5>
                <p class="card-text"><%=userInfo['mail']%></p>
            </div>
            </div>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <p class="card-text">
                <div class="row">
        
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <small class="text-muted fs-6"><i class="fa-solid fa-book-open"></i> Post Read: <button type="button" class="btn btn-sm btn-light"><%=totalViews.length%></button></small>
                            </div>
                        </div><br>
                        <div class="card">
                            <div class="card-body">
                                <small class="text-muted fs-6"><i class="fa-solid fa-message"></i> Comments: <button type="button" class="btn btn-sm btn-light"><%=totalComments.length%></button></small>
                            </div>
                        </div><br>
                        <div class="card">
                            <div class="card-body">
                                <small class="text-muted fs-6"><i class="fa-solid fa-hand-sparkles"></i> Supports: <button type="button" class="btn btn-sm btn-light"><%=totalLikes.length%></button></small>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <small class="text-muted fs-6"><i class="fa-solid fa-bookmark"></i> Bookmarks: <button type="button" class="btn btn-sm btn-light"><%=bookmarks.length%></button></small>
                            </div>
                        </div><br>
                        <div class="card">
                            <div class="card-body">
                                <small class="text-muted fs-6"><i class="fa-solid fa-feather-pointed"></i> Posts: <button type="button" class="btn btn-sm btn-light"><%=posts.length%></button></small>
                            </div>
                        </div>
                    </div>
            
                </div>
            </p>
        </div>
    </div><br>

    <!-- User Posts -->
    <div class="card">
        <div class="card-body">

            <h5 class="card-title"><i class="fa-regular fa-clone"></i> Your Posts</h5>
            <hr>

            <%if(posts.length == 0){%>
            <p class="card-text">Haven't Posted Anything Yet</p>
            <%}%>

            <%for(let i = 0; i < posts.length; i++){%>
                <% if(posts[i].draft == 1) continue;%>

                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8">
                                <%=i+1%>.<%=posts[i].title%>
                            </div>
                            <div class="col-4">
                                <a href="../post/<%=posts[i].id%>" class="btn btn-sm btn-secondary">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                                <a href="../edit/<%=posts[i].id%>" class="btn btn-sm btn-primary">
                                    <i class="fa-solid fa-pen"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            <%}%>

        </div>
    </div>
    <br>

    <!-- User Bookmarks -->
    <div class="card">
        <div class="card-body">

            <h5 class="card-title"><i class="fa-regular fa-bookmark"></i> Your Bookmarks</h5>
            <hr>

            <%if(bookmarks.length == 0){%>
                <p class="card-text">Haven't Bookmarked Anything Yet</p>
            <%}%>

            <%for(let i = 0; i < bookmarks.length; i++){%>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-5"><%=i+1%>.<%=bookmarks[i].name%></div>
                            <div class="col-7">
                                <a href="../post/<%=bookmarks[i].postid%>" class="btn btn-sm btn-secondary"><i class="fa-solid fa-eye"></i></a>
                                <a <%-'onclick=\'deleteBookmark("'+bookmarks[i].postid+'","'+bookmarks[i].name+'")\''%>  class="btn btn-sm btn-danger"><i class="fa-regular fa-trash-can"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            <%}%>

        </div>
    </div>

</div>
<!-- Delete Modal -->
<div class="modal fade" id="staticDeleteBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticDeleteBackdropLabel" aria-hidden="true">
    
    <div class="modal-dialog"> 
        <div class="modal-content"> 
        
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticDeleteBackdropLabel"> 
                <i class="fa-regular fa-trash-can"></i> Delete Post 
            </h1>
        </div>

        <div class="modal-body">
            <div id="DeleteLoaderText">
                Once The Post Is Deleted, The Post Can't Be Recovered. To Delete This Post Click The <code>Delete</code> Button Below.
            </div>

            <input type="text" class="form-control" id="DeleteId" disabled>
            
            <div id="ExtraTitleDesc">
                <hr>
                <div class="mb-3">
                    <label class="form-label">Title</label>
                    <input type="text" name="title" class="form-control" id="Deletetitle" disabled>
                </div>
            </div>

            <div id="DeleteLoader" class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <div id="DeleteOkContainer">
                <a href="../profile" type="button" class="btn btn-success" >Ok</a>
            </div>
            <div id="DeleteTwoBtnContainer">
                <button type="button" class="btn btn-secondary" id="DeleteDismiss" data-bs-dismiss="modal">Dismiss</button>
                <button type="button" class="btn btn-danger" id="DeletePost">Delete</button>
            </div>
        </div>

        </div>
    </div>

</div>

<script>
    /*
 *  Delete Post Modal Show Function 
 */
function deleteBookmark(PostId,PostTitle){
    if(PostTitle == ""){PostTitle = "-";}

    $("#DeleteId").val(PostId);
    $("#Deletetitle").val(PostTitle);

    $('#staticDeleteBackdrop').modal('show');
}

/*
 *  Delete Post Modal Dismiss Function
 */
 $("#DeleteDismiss").click(function(){
    $("#DeleteId").val("");
    $("#Deletetitle").val("");
});

$("#DeletePost").click(function(){
    $("#DeleteDismiss").prop('disabled', true);
    $("#DeleteLoaderText").css("opacity","0");
    $("#DeleteLoader").css("opacity","1");
    $.post("/profile",{
        deleteBookmark:true,
        id:$("#DeleteId").val()
    },
    function(data, status){
        $("#ExtraTitleDesc").css("height","0px");
        $("#DeleteLoaderText").html("<i class='fa-regular fa-circle-check'></i> Post Deleted Successfully!");
        $("#DeleteLoaderText").css("opacity","1");
        $("#DeleteLoader").css("opacity","0");
        $("#DeleteTwoBtnContainer").css("visibility","hidden");
        $("#DeleteOkContainer").css("visibility","visible");
    });
});
</script>
</body>
</html>